
footer{
    width: 100%;
    background-color: black;
    }
img{
    position:relative;
    width: 30%;
}
p{
    color: grey;
    margin-left: -100px;
    display: inline;
    display: flex;
    margin-top: 25px;
}
   
