<div class="containes">
    <h1>Habilidades</h1>
    <div class="row">
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        [showSubtitle]="true"
        [subtitle]="'HTML'"
        [subtitleFontSize]="'1em'"

        ></circle-progress>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500"
            [showSubtitle]="true"
            [subtitle]="'HTML'"
            [subtitleFontSize]="'1em'"
    
            ></circle-progress>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'green'"
                [innerStrokeColor]="'black'"
                [animation]="true"
                [animationDuration]="500"
                [showSubtitle]="true"
                [subtitle]="'HTML'"
                [subtitleFontSize]="'1em'"
        
                ></circle-progress>
                </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="'#F39C12'"
                    [innerStrokeColor]="'black'"
                    [animation]="true"
                    [animationDuration]="500"
                    [showSubtitle]="true"
                    [subtitle]="'HTML'"
                    [subtitleFontSize]="'1em'"
            
                    ></circle-progress>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#F39C12'"
                [innerStrokeColor]="'black'"
                [animation]="true"
                [animationDuration]="500"
                [showSubtitle]="true"
                [subtitle]="'HTML'"
                [subtitleFontSize]="'1em'"
                
                ></circle-progress>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="20"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#F39C12'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500"
            [showSubtitle]="true"
            [subtitle]="'HTML'"
            [subtitleFontSize]="'1em'"
                    
            ></circle-progress>
        </div>       

    </div>

</div>
