<div class="containes">
    <h1>Habilidades</h1>
    <div class="col-lg 2">
        <button type="button" routerLink="/newhabilidad" class="btn btn-dark" *ngIf="isLogged">Nueva habilidad</button>
    </div>
    <div class="row">
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngFor="let habilidad of habilidad">
        <circle-progress
        [percent]="( habilidad.porcentaje )"
        [radius]="100" 
        [title]="( habilidad.nombre) + ' ' +( habilidad.porcentaje )"   
        [showTitle]="true"
        [titleColor]="'#212F3C'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        [showSubtitle]="false"
        [subtitle]=""
        ></circle-progress>

        <td *ngIf="isLogged">
            <button class="btn btn-success" routerLink="/edithabilidad/{{habilidad.id}}">
                <i class="bi bi-pencil-fill"></i> Editar</button>
        </td>
        <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(habilidad.id)">
                <i class="bi bi-trash-fill"></i> Borrar</button>
        </td>
        </div>
       
    </div>

</div>
