
    <div class="row">
    <div class="col-lg-12">
            <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
                Editar persona
            </button>
    </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
            <img src={{persona.img}} class="img-fluid" id="fotoperfil">
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 nombreapellido">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p id="titulo">Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 acerca">
            <span>
                <h1>Acerca de mi</h1>
                <p>{{persona.descripcion}}</p>
            </span>
        </div>
    </div>


<hr width="100%">