
    <div class="row">
        <h1>Educacion</h1>
        <div class="col-12">
            <ul>
                <li>
                    <h2>Educacion 1</h2>
                    <h3>Fecha</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sequi voluptatem? Odit, magni possimus natus rem nisi ex, explicabo vel adipisci laboriosam recusandae quas, velit labore ad quaerat. Enim, autem!</p>
                </li>
            </ul>
            <ul>
                <li>
                    <h2>Educacion 2</h2>
                    <h3>Fecha</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sequi voluptatem? Odit, magni possimus natus rem nisi ex, explicabo vel adipisci laboriosam recusandae quas, velit labore ad quaerat. Enim, autem!</p>
                </li>
            </ul>
            <ul>
                <li>
                    <h2>Educacion 3</h2>
                    <h3>Fecha</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sequi voluptatem? Odit, magni possimus natus rem nisi ex, explicabo vel adipisci laboriosam recusandae quas, velit labore ad quaerat. Enim, autem!</p>
                </li>
            </ul>

        </div>

    </div>
   

<hr width="100%">
