
.container {
    background-color: rgb(117, 197, 135); /* Color de fondo */
    background-color: rgb(117, 197, 135); /* Color de fondo */
}
form {
    padding-top: 100px; /* separamos los bordes del form del resto de elementos */
    padding-bottom: 120px;
    margin: 0 auto; /* Centramos el formulario */
    width: 500px;   /* Sin ancho no podemos centrar el formulario */
    
 }
 button{
    margin: 0 auto; /* Centramos el formulario */
   width: 500px;   /* Sin ancho no podemos centrar el formulario */

 }