<div class="container">
    <div class="row">
        <h1>Experiencia Laboral</h1>
        <div class ="col-12">
            <ul>
                <li>
                    <h2>trabajo 1</h2>
                    <h3>años</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sequi voluptatem? Odit, magni possimus natus rem nisi ex, explicabo vel adipisci laboriosam recusandae quas, velit labore ad quaerat. Enim, autem!</p>
                </li>
            </ul>
            <ul>
                <li>
                    <h2>trabajo 2</h2>
                    <h3>años</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sequi voluptatem? Odit, magni possimus natus rem nisi ex, explicabo vel adipisci laboriosam recusandae quas, velit labore ad quaerat. Enim, autem!</p>
                </li>
            </ul>
            <ul>
                <li>
                    <h2>trabajo 3</h2>
                    <h3>años</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sequi voluptatem? Odit, magni possimus natus rem nisi ex, explicabo vel adipisci laboriosam recusandae quas, velit labore ad quaerat. Enim, autem!</p>
                </li>
            </ul>

        </div>

    </div>

</div>
<hr width="100%">